language: scala
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
scala:
  - 2.12.1
jdk:
  - oraclejdk8 
before_script:
  - curl -O https://gist.githubusercontent.com/EmilDafinov/c874e7f3abe77dd770c2bd26828b9224/raw/f75b659d1a2c3634140eace2c7899dc634e2790b/travis_bintray_credentials.sh &&
    chmod +x travis_bintray_credentials.sh &&
    ./travis_bintray_credentials.sh
script:
    sbt ++$TRAVIS_SCALA_VERSION clean test publish #Publish artifacts
after_success:
  - sbt clean coverage test coverageReport coverageAggregate codacyCoverage
