jdk: oraclejdk8

language: scala

scala: 2.12.2

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt/boot/"

jobs:
  include:
 
    - stage: test
      env:
        - NAME="Assert project version is not overriden manually"
      script: ./src/scripts/assert_project_version_not_overriden.sh

    - stage: test
      env:
        - NAME="Run unit tests"
      script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport coverageAggregate codacyCoverage

    - stage: test
      env:
        - NAME="Run integration tests"
      script: sbt ++$TRAVIS_SCALA_VERSION clean it:test

    - stage: publish build artifacts
      script: ./src/scripts/publish_build_artifacts.sh

notifications:
  email: false
